/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Some CSS rules */
body {
    font-family: 'Figtree', sans-serif;
}

/* Import Custom Styles */
@import 'style.css';
@import 'home.css';
@import 'auctions.css';

/* More CSS rules */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
